<section class="add-blog">
    <h2 class="form-header">Create New Blog</h2>
    <form class="add-blog-form" id="add-blog-form">
        <div class="add-blog-title">
            <label for="blog-title">Title: </label>
            <br>
            <input class="add-title-input enter-field" type="text" id="blog-title" name="blog-title" />
        </div>
        <div class="add-blog-body">
            <label for="blog-body">Content: </label>
            <br>
            <textarea class="enter-field" id="blog-body" name="blog-body"></textarea>
        </div>
        <button type="submit" class="add-btn">Submit</button>
    </form>
</section>

<script src="/js/add-blog.js"></script>