{{#if blogs.length}}
<section>
  <h2 class="dashboard">Dashboard</h2>
  <div class="wrapper">
  <ul class="blog-list">
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
      <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>      
    </li>
    {{/each}}
  </ul>
  </div>
</section>
{{else}}
<section>
  <div class="wrapper">
  <h3>You have no blogs yet!</h3>
  </div>
</section>
{{/if}}
<div class="wrapper">
<button type="submit" class="btn add-new-btn" id="new-blog">Add New Blog</a></button>
</div>

<script src="/js/dashboard-addBlog.js"></script>