<section class="log-in">
    <h2 class="form-header">Log In</h2>
    <form class="login-form" id="login-form">
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <a href="/signup" class="sign-up">Sign Up Instead</a>
</section>

<script src="/js/login.js"></script>