{{> blog-info blog}}

{{#if loggedIn}}
<form class="comment-form" id="comment-form">
    <div>
        <textarea class="enter-field" name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="add-comment-btn" id="add-comment-btn">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/js/add-comment.js"></script>
{{/if}}